$color-purple-100: rgb(220, 209, 252);
$color-purple-500: rgb(118, 81, 220);

$color-yellow-100: rgb(250, 238, 226);
$color-yellow-500: rgb(255, 204, 105);

$color-white: rgb(255, 255, 255);
$color-grey: rgb(245, 245, 245);
$color-dark: rgb(18, 18, 18);

$font-size-xlg: 4.8rem;
$font-size-lg: 3.4rem;
$font-size-md: 2.35rem;
$font-size-sm: 1.5rem;

$font-weight-bold: 600;
